{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Добро пожаловать на наш сайт!</h1>
        
        {% if user.is_authenticated %}
            <p>Привет, {{ user.username }}! Ты авторизован.</p>
            <p>Теперь ты можешь пользоваться всеми функциями нашего сайта.</p>
            <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <p>Для того чтобы пользоваться всеми возможностями сайта, пожалуйста, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'signup' %}">зарегистрируйтесь</a>.</p>
        {% endif %}
        <a href="{% url 'forum_home' %}">Вкладка с обсуждением</a>
        <section class="features">
            <h2>Наши особенности</h2>
            <ul>
                <li>Легкая навигация</li>
                <li>Быстрая регистрация</li>
                <li>Простой интерфейс</li>
                <li>Множество полезных функций</li>
            </ul>
        </section>

        <section class="about">
            <h2>О нас</h2>
            <p>Мы — команда разработчиков, которая создала этот сайт, чтобы сделать вашу жизнь проще. Мы всегда работаем над улучшением нашего продукта.</p>
        </section>
    </div>
{% endblock %}
